/* Small screens (max-width: 600px) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  
  .spinner {
    border-width: 2px;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
  }
}

/* Medium screens (min-width: 601px) and large screens */
@media only screen and (min-width: 601px) {
  h1 {
    font-size: 4rem;
  }
  
  .spinner {
    border-width: 4px;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
  }
}
